#header {
  padding: 5px;
  background-color: #6ed36c;
  font-family: 'Ubuntu Mono';
}

#logo {
  width: 75px;
  height: 75px;

}

a {
  color: #213F20;
}

a:hover {
  text-decoration: none;
  color: #4d934b;
}

#nav li a:hover {
background-color: #b6e9b5;
cursor: pointer;
}

.summary {
  background-color: #eee;
  width: 80%;
  margin: 5%;
  padding: 4%;
  padding-top: none;
}

pre {
  margin: auto;
  margin-bottom: 10%;
  background-color:#b6e9b5;
  color: #4d934b;
  padding-top: 20px;
  width: 50%;
  border: 1px #4d934b solid;
}

#homecode, #htmlcode, #csscode, #scriptcode, #jquerycode {
  background-color: transparent;
  border-radius: 0 !important;
  margin: 2%;
  margin-bottom: 20%;
  padding: 1%;
}

#htmlcode, #csscode, #scriptcode, #jquerycode {
  display: none;
}

@media (max-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a  {
    border-bottom: 1px solid #ddd !important;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: 0 !important;
  }
}
