#header {
  padding: 5px;
}

#htmlcode, #csscode, #scriptcode, #jquerycode {
  background-color: transparent;
  border-radius: 0 !important;
  margin: 2%;
  margin-bottom: 20%;
  padding: 1%;
  display: none;
}



@media (max-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a  {
    border-bottom: 1px solid #ddd !important;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: 0 !important;
  }
}
